@import "tailwindcss";

@theme {
  
  --color-background: #0f172a; 
  --color-surface: #1e293b;    
  --color-primary: #3b82f6;    
  --color-accent: #eab308;     
  --color-text-main: #f8fafc;  
  --color-text-muted: #94a3b8; 
  
  --font-display: "Tajawal", sans-serif; 
}

html {
  scroll-behavior: smooth;
}


#home, #about, #services {
  scroll-margin-top: 90px;
}
@layer base {
    html {
    scroll-behavior: smooth; 
  }
  body {
    background-color: var(--color-background);
    color: var(--color-text-main);
    font-family: var(--font-display);
    direction: rtl; 
  }
}


.glass-card {
  background: rgba(30, 41, 59, 0.7);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}